[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/ruchigarg-DS/Mobile-Analytics/blob/master/Tweet_Exploration.ipynb)

In [0]:
import pandas as pd
import numpy as np

In [2]:
#get files

#You will need to change the file id after the &id in the link below and also change the filename field to the corresponding file


#File1 = 1BkJXUuLda3kAzfDxScGFUdqKUNdKP9p_   tweets_1h_dd.csv
#File2 = 1giS8vKLR6AhD0Or0Q1ag9O5xEPuvd5JP   tweets_2h_dd.csv
#File3 = 1wP07WjjujIZmUCAXGTgz2p7vZIgTjXQL   tweets_3h_dd.csv

filename = "tweets_1h_dd.csv"
!wget "https://drive.google.com/uc?export=download&id=1BkJXUuLda3kAzfDxScGFUdqKUNdKP9p_" -O "tweet_data.zip"
!unzip "tweet_data.zip"
!ls

--2018-10-17 23:11:07--  https://drive.google.com/uc?export=download&id=1BkJXUuLda3kAzfDxScGFUdqKUNdKP9p_
Resolving drive.google.com (drive.google.com)... 172.217.193.113, 172.217.193.138, 172.217.193.102, ...
Connecting to drive.google.com (drive.google.com)|172.217.193.113|:443... connected.
HTTP request sent, awaiting response... 302 Moved Temporarily
Location: https://doc-0c-88-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/593fu6ild29teenktdctgd9qjklc6m8c/1539813600000/10846168993139288126/*/1BkJXUuLda3kAzfDxScGFUdqKUNdKP9p_?e=download [following]
Warning: wildcards not supported in HTTP.
--2018-10-17 23:11:08--  https://doc-0c-88-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/593fu6ild29teenktdctgd9qjklc6m8c/1539813600000/10846168993139288126/*/1BkJXUuLda3kAzfDxScGFUdqKUNdKP9p_?e=download
Resolving doc-0c-88-docs.googleusercontent.com (doc-0c-88-docs.googleusercontent.com)... 173.194.210.132, 2607:f8b0:400c:c0f::84
Connecting to doc-0c-88-docs.googleusercontent.com (doc-0c-88-docs.googleusercontent.com)|173.194.210.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘tweet_data.zip’

tweet_data.zip          [ <=>                ]   4.40M  --.-KB/s    in 0.04s

2018-10-17 23:11:08 (125 MB/s) - ‘tweet_data.zip’ saved [4609191]

Archive:  tweet_data.zip
replace tweets_1h_dd.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
sample_data  tweet_data.zip  tweets_1h_dd.csv

In [0]:
data = pd.read_csv(filename)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,6,7,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
data.describe()

,Unnamed: 0,created_at,text,geo,coordinates,place,retweet_count,favorite_count,favorited,retweeted
0,1049811737908793344,2018-10-09 23:59:57,RT @DJPTPLAYA3: What Poppin In The City Tonigh...,NaN,NaN,NaN,1,0,False,False
1,1049811724474421250,2018-10-09 23:59:54,RT @TRAW2RAW: The same thing happens in ATL du...,NaN,NaN,NaN,297,0,False,False
2,1049811715335094272,2018-10-09 23:59:52,RT @redostoneage: 7 Hoax Papers Expose The Wes...,NaN,NaN,NaN,1,0,False,False
3,1049811684699729920,2018-10-09 23:59:44,@TheRealBigBen23 @TheHerd @ColinCowherd Oh yea...,NaN,NaN,NaN,0,0,False,False
4,1049811682846040072,2018-10-09 23:59:44,"RT @TheAAF: .@AafLegends Adds.. well, more Leg...",NaN,NaN,NaN,77,0,False,False

In [0]:
data.head()

,Unnamed: 0,created_at,text,geo,coordinates,place,retweet_count,favorite_count,favorited,retweeted
0,1049811737908793344,2018-10-09 23:59:57,RT @DJPTPLAYA3: What Poppin In The City Tonigh...,NaN,NaN,NaN,1,0,False,False
1,1049811724474421250,2018-10-09 23:59:54,RT @TRAW2RAW: The same thing happens in ATL du...,NaN,NaN,NaN,297,0,False,False
2,1049811715335094272,2018-10-09 23:59:52,RT @redostoneage: 7 Hoax Papers Expose The Wes...,NaN,NaN,NaN,1,0,False,False
3,1049811684699729920,2018-10-09 23:59:44,@TheRealBigBen23 @TheHerd @ColinCowherd Oh yea...,NaN,NaN,NaN,0,0,False,False
4,1049811682846040072,2018-10-09 23:59:44,"RT @TheAAF: .@AafLegends Adds.. well, more Leg...",NaN,NaN,NaN,77,0,False,False

Questions to ask:



*   Which tweets are most liked/retweeted?

*   Do you a trend in topics for the most popular tweets?

*   What areas are most active for that topic (look at coordinates)?

*   Deep dive into other topics you see. Can you search the text for similar items?


*   Can you extract the hashtags from the text?